$primary-color: #ff8a80;
$primary-color-light: #ffbcaf;
$primary-color-dark: #c85a54;

$secondary-color: #424242;
$secondary-color-light: #6d6d6d;
$secondary-color-dark: #1b1b1b;

// text colors
$primary-text-color: rgba(0, 0, 0, 0.7);
$secondary-text-color: rgb(255, 255, 255);